*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.content-navbar{
    background-color: grey;
    height: 50px;
}

.sidebar{
    width: 150px;
    background-color: yellow;
    position: absolute;
}

.top-sidebar{
   height: 60px;
   background-color: pink;
}

.bottom-sidebar{
    height: 50px;
    background-color: greenyellow;
    margin-top: 595px;
}

.main{
    width: calc(100% - 150px);
    background-color: brown;
    margin-left: 150px;
}

.top-main{
    background-color: green;
    height: 100px;
}

.content{
    height: calc(300px - 20px);
    background-color: black;
    margin: 20px 0 20px 10px;
}

.content2{
    height: calc(180px - 20px);
    background-color: green;
    margin: 20px 10px 20px 0;
}

.content3{
    height: calc(200px - 20px);
    background-color: black;
    margin: 20px 0 20px 10px;
}

.content4{
    height: calc(405px - 20px);
    background-color: blue;
    margin: 20px 10px 20px 0;
}