*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



header{
    background-color: white;
}




.search-bar{
    width: 100%;
    background-color:  #e5e5e5;
    border-radius: 10px;
}

.mobile{
    height: 50px;
}

input{
    background-color:#e5e5e5;
    border: none;
}

.place{
    width: 100%;
    border-radius: 10px;
}

.fa-magnifying-glass{
    margin: 0 5px;
}

.fa-bell{
    color: orange;
}

main{
    width: 100%;
    margin-top: 50px;
    background-color: brown;
    display: flex;
}

.sidebar{
    width: 150px;
    height: calc(100vh - 50px);
    background-color: yellow;
}

.content{
    width: calc(100% - 150px);
    height: calc(100vh - 50px);
    background-color: blue;
    overflow-y: auto;
}

.top-sidebar, .bottom-sidebar{
    width: 150px;
    height: 100px;
    background-color: green;
}

.top-content{
    width: 100%;
    height: 150px;
    background-color: red;
}


/* .top-sidebar{
   height: 60px;
   background-color: pink;
}

.bottom-sidebar{
    height: 50px;
    background-color: greenyellow;
    margin-top: 595px;
} */



